$main: rgb(255, 255, 255);
$primary: rgb(206, 255, 0);
$secondary: rgb(152, 128, 255);
$tertiary: rgb(241, 246, 207);

$background: rgb(39, 39, 61);
$background-secondary: rgb(59, 59, 81);

$stat-info-text: rgb(100, 100, 114);
